<%-include('partials/header') -%>

<%-include('partials/statusMessages') -%>
<div class="new_smoothie">
  <a href="/smoothies/add" class="btn btn_outline">Add smoothie</a>
</div>
<ul class="recipes">
  <% smoothies.forEach(function(smoothie){ %>
    <%- include('partials/smoothieCard', { smoothie, user }) -%>
  <% }) %>
</ul>

<div class="modal_outer">
  <%smoothies.forEach(function(smoothie){%>
    <%- include('partials/innerModal', {smoothie}) -%>
  <%})%>
</div>

<script src="/js/modal.js"></script>

<%-include('partials/footer') -%>
